$medium: "(min-width: 480px) and (max-width: 767px)";

@media #{$medium} {

// -- HEADER
    .head {
        padding: 0 40px 10px 40px;
    }
    .navigation {
        ul {
            padding: 10px 0px;
            a {
                font-size: 8px;
            }
        }
    }


// -- COMPANY

    #company {
        width: 100%;
    }

    #company-margin {
        padding: 0 20px ;
    }

    #sidebar {
        width: 100%;
    }

    #sidebar-container {
        //height: 900px;
    }
    #text-possible {
        padding-top: 50px;
        font-size: 24px;
    }
    .text-company {
        font-size: 14px;
    }
    #text-team {
        font-size: 14px;
    }
    #text-map {
        font-size: 14px;
        width: 40%;
        margin-left: 10px;
    }
    #text-map-description {
        font-size: 14px;
    }

/* slider */

#slider {
    width: 78vw;
    height: 44vw;
    padding-top: 46vw;
}
#slide-container {
    padding-bottom: 140px;
}
.image-small {
    width: 13vw;
    height: 9vw;
}
.image-big {
    width: 78vw;
    height: 44vw;
}

// -- FOOTER

        .footer {
            padding: 10px 40px;
            font-size: 12px;
        }

}
