$medium: "(min-width: 480px) and (max-width: 767px)";

@media #{$medium} {

// -- HEADER
    .head {
        padding: 0 40px 10px 40px;
    }
    .navigation {
        ul {
            padding: 10px 0px;
            a {
                font-size: 8px;
            }
        }
    }


// -- COMPANY

    #company {
        width: 100%;
    }

    #company-margin {
        padding: 0 20px ;
    }

    #sidebar {
        width: 100%;
    }

    #sidebar-container {
        //height: 900px;
    }

// -- FOOTER

        .footer {
            padding: 10px 40px;
            font-size: 12px;
        }

}
