body {

}

// -- HEADER --

.head {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;
    color: white;
    align-items: flex-end;
    padding: 0 20px 10px 20px;

    background-image: url('../image/head-black.png');
    background-size: cover;
    background-repeat: no-repeat;
    #logo {
        background-image: url('../image/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 70px;
        height: 15px;
    }
}

.navigation {


    background-image: url('../image/background-gray.png');
    background-size: cover;
    background-repeat: no-repeat;


    ul {
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 10px 20px;
        a {
            font-size: 6px;
        }
    }
}

.button {
    text-decoration: none;
    border: none;
    background: transparent;
    cursor: pointer;
    a {
        text-decoration: none;
        border: none;
        color: white;
    }
    :hover {
        background: black;
        color: blue;
        padding: 5px 8px;
    }
}


// - COMPANY

#company {
    background-color: white;
}

#company-margin {
    //margin: 0 10px;

    background-image: url('../image/background-gray.png');
    background-size: cover;
    background-repeat: no-repeat;
}

section {

    p {
        padding: 10px;
    }

}

#sidebar {
    p {
        padding: 10px;
    }
}

#slide-name {
    font-weight: bold;
}

#text-possible {
    font-weight: bold;
}

#text-team {
    font-weight: bold;
}
#text-map {
    font-weight: bold;
}



#slide-big {
    background-image: url('../image/big-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vw;
    margin: 0px 10px;

}

#slide-big-container {
    display: flex;
    justify-content: center;
}

#slides {
    margin: 0px 10px;
    //display: flex;
    //justify-content: center;
    //width: 100%;
    //min-width: 20vw;
}

#image-map {
    background-image: url('../image/mapa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70vw;
    height: 40vw;
    margin: 0px 10px;
}

#image-map-container {
    display: flex;
    justify-content: center;
}


// -- FOOTER --

.footer {

    height: 30px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 8px;
    ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
        li {
            width: 10%;
            text-align: center;
            i {
                :hover {
                    color: blue;
                }
            }
            span {
                visibility: hidden;
            }
        }
    }

}
