body {

}

// -- HEADER --

.head {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;
    color: white;
    align-items: flex-end;
    padding: 0 20px 10px 20px;

    background-image: url('../image/head-black.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    //display: list-item;

    background-image: url('../image/background-gray.png');
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 8px;
    ul {
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 10px 20px;
    }
}

// - COMPANY

#company {
    background-color: white;
}

#company-margin {
    //margin: 0 10px;

    background-image: url('../image/background-gray.png');
    background-size: cover;
    background-repeat: no-repeat;
}

section {

    h1, h4, p {
        padding: 10px 5px 5px 5px;
    }

}

#sidebar {
    h4, p {
        padding: 10px 5px 5px 5px;
    }
}
#slide-name {
    font-weight: bold;
}

#text-possible {
    font-weight: bold;
}

#text-team {
    font-weight: bold;
}
#text-map {
    font-weight: bold;
}

#slide-big {
    background-image: url('../image/big-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

#image-map {
    background-image: url('../image/mapa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;

}




// -- FOOTER --

.footer {
    //display: flex;
    height: 30px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 8px;
    ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
    }
}
