/* Slider css */
.image-small {
    width: 13vw;
    height: 9vw;
}
.image-big {
    width: 78vw;
    height: 44vw;
}
#slide-container {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}
#slider {
    width: 78vw;
    height: 44vw;
    position: relative;
    margin: 0 auto;
    //background-color: blue;
    padding-top: 46vw;
    &>img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    label {
        opacity: 0.6;
        outline: 2px solid #999;
        float: left;
        img {
            display: block;
        }
        cursor: pointer;
        margin-left: 3px;
    }
    input[type="radio"]{
        display: none;
    }
    input[type='radio']~img{
        opacity: 0;
    }
    input[type='radio']:checked+label{
        opacity: 1;
        outline-color: #666;
    }
    input[type='radio']:checked+label+img{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
